{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ RESTAURANT_TAG }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'  %}">
    <!-- Bootstrap Core CSS -->
    <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href='{% static "metisMenu/metisMenu.min.css" %}' rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>

</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="top-header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand fa_fontawesm" href="{% url 'dashboard' %}">{{ RESTAURANT_NAME }}</a>
            </div>
            <!-- /.navbar-header -->

           <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a><span class="real-date-main" id="real-date-main" style="color: #17D4FE; font-size: 15px; font-family: Orbitron; letter-spacing: 7px; font-weight: bold;">Coming here</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /.navbar-top-links -->
    {% block content %}
    {% endblock %}
    <!-- jQuery -->
    {% block scripts %}
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'jquery/jquery-1.8.3.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'metisMenu/metisMenu.min.js' %}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{% static 'js/sb-admin-2.js' %}"></script>

        <script src="{% static 'graphs/highcharts.js' %}"></script>
        <script src="{% static 'graphs/exporting.js' %}"></script>

        <script>
            function showTime(){
                var date = new Date();
                var h = date.getHours(); // 0 - 23
                var m = date.getMinutes(); // 0 - 59
                var s = date.getSeconds(); // 0 - 59
                var session = "AM";

                if(h == 0){
                    h = 12;
                }

                if(h > 11){
                    session = "PM";
                }

                h = (h < 10) ? "0" + h : h;
                m = (m < 10) ? "0" + m : m;
                s = (s < 10) ? "0" + s : s;

                var time = h + ":" + m + ":" + s + " " + session;
                document.getElementById("real-date-main").innerText = time;
                document.getElementById("real-date-main").textContent = time;
                setTimeout(showTime, 1000);

            }

            showTime();

        </script>

    {% endblock %}
</div>
</body>
</html>