{% extends 'base.html' %}

{% block content %}
    <style>
    .errorlist {
        padding: 0;
        list-style-type: none;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary">Home</button></a>
                <a href="{% url 'menu_list' %}"><button type="button" class="btn btn-primary">Menu List</button></a>
                <br><br>
                <div class="content-panel">
                    <h3 class="text-center">Add New Item</h3>
                    {% if form.non_field_errors %}
                        <div>
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="panel-body">
                        <form class="form-horizontal add-customer-form" action="{% url 'menu_add' %}" method="post" >
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    <input type="text" class="form-control category" name="category" placeholder="Category" list="category-list">
                                    <datalist id="category-list">
                                        {% for category in categories %}
{#                                            <option data-id="{{ category.id }}" value="{{ category.id }}">{{ category.name }}</option>#}
                                            <option value="{{ category.name }}"></option>
                                        {% endfor %}
                                    </datalist>
                                    {% if form.errors.category %}<span style="color:red">{{ form.errors.category }}</span>{% endif %}
                                    <br>
                                    <input type="text" class="form-control name" name="name" placeholder="Item Name">
                                    {% if form.errors.name %}<span style="color:red">{{ form.errors.name }}</span>{% endif %}
                                    <br>
                                    <input type="text" class="form-control price" name="price" placeholder="Price">
                                    {% if form.errors.price %}<span style="color:red">{{ form.errors.price }}</span>{% endif %}
                                    <br>
                                    <button type="submit" class="btn btn-primary product-sub-btn" style="float: right">Save Item</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}