{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary">Home</button></a>
                <a href="{% url 'stock_list' %}"><button type="button" class="btn btn-primary">Stocks List</button></a>
                <a href="{% url 'stock_in' pk=stock.id %}"><button type="button" class="btn btn-primary">Stock In</button></a>
                <a href="{% url 'stock_out' pk=stock.id %}"><button type="button" class="btn btn-primary">Stock Out</button></a>
                <br><br>
                <div class="content-panel">
                    <h2 class="text-center">{{ stock.item_name|title }} <small>Stock Detail</small></h2>
                    <div class="row" style="padding: 20px">
                        <div class="col-lg-4">
                            <div class="well" style="padding-top: 0px">
                                <h3>Overall Details</h3>
                                <strong>Date:</strong>  Not Defined.<br>
                                <strong>Total Stocks:</strong> {{ stock.total_stock_in }}<br>
                                <strong>Total Stocks Out:</strong> {{ stock.total_stock_out }}<br>
                                <strong>Remaining Stocks:</strong> {{ stock.remaining_stock }}<br>
                                <strong>Stocks Total Price (pkr):</strong> {{ stock.stock_total_price|floatformat:'-2' }}<br>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="well" style="padding-top: 0px">
                                <h3>Latest Closing Details</h3>
                                <strong>Closing Date:</strong> {{ last_closing_date }}<br>
                                <strong>Total Stocks:</strong> {{ last_stock_in }}<br>
                                <strong>Total Stocks Out:</strong> {{ last_stock_out }}<br>
                                <strong>Remaining Stocks:</strong> {{ last_remaining_stock }}<br>
                                <strong>Stocks Total Price (pkr):</strong> {{ last_stock_amount|floatformat:'-2' }}<br>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="well" style="padding-top: 0px">
                                <h3>Current Details</h3>
                                <strong>Date:</strong> {{ date }}<br>
                                <strong>Total Stocks:</strong> {{ current_stock_in }}<br>
                                <strong>Total Stocks Out:</strong> {{ current_stock_out }}<br>
                                <strong>Remaining Stocks:</strong> {{ current_remaining_stock }}<br>
                                <strong>Stocks Total Price (pkr):</strong> {{ current_stock_amount|floatformat:'-2' }}<br>
                            </div>
                        </div>
                    </div>
                    {% if stockin.exists %}
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Stock In
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table table-striped table-advance table-hover ledger-table table-responsive">
                                        <thead>
                                        <tr>
                                            <th><i class="fa fa-bullhorn"></i> No. of Stock</th>
                                            <th><i class="fa fa-question-circle"></i> Price</th>
                                            <th><i class="fa fa-dollar"></i> Total</th>
                                            <th><i class="fa fa-bookmark"></i> Date</th>
                                        </tr>
                                        </thead>
                                        <tbody class="item-table-body">
                                        {% for st_in in stockin %}
                                            <tr>
                                                <td>{{ st_in.new_stock}}</td>
                                                <td>{{ st_in.price|floatformat:'-2' }}</td>
                                                <td>{{ st_in.total|floatformat:'-2' }}</td>
                                                <td>{{ st_in.created_at }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if stockout.exists %}
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Stock Out
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table table-striped table-advance table-hover payment-table table-responsive">
                                        <thead>
                                        <tr>
                                            <th><i class="fa fa-bullhorn"></i> No. of Stock Out</th>
                                            <th><i class="fa fa-bookmark"></i> Date</th>
                                        </tr>
                                        </thead>
                                        <tbody class="item-table-body">
                                        {% for st_out in stockout %}
                                            <tr>
                                                <td>{{ st_out.stock_out}}</td>
                                                <td>{{ st_out.created_at }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}