{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary">Home</button></a>
                <a href="{% url 'stock_list' %}"><button type="button" class="btn btn-primary">Stocks List</button></a>
                <a href="{% url 'stock_details' pk=stock.id %}"><button type="button" class="btn btn-primary">Stock Details</button></a>
                <br><br><br>
                <div class="content-panel">
                    <h3 class="text-center">{{ stock.item_name|title }} Stock Out</h3>
                    <div class="panel-body">
                        <form class="form-horizontal add-customer-form" action="{% url 'stock_out' pk=stock.id %}" method="post" >
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control stock_out" name="stock_out" placeholder="Stock Out">
                                    <br>
                                    <input type="hidden" name="stock" value="{{ stock.id }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary product-sub-btn" style="float: right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Saving">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{{ block.super }}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
$('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});
    </script>

{% endblock %}