{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .item-row th {
            background: #eee;
        }

        .delete-btn {
            position: relative;
        }

        .delete {
            display: block;
            color: #000;
            text-decoration: none;
            position: absolute;
            background: #EEEEEE;
            font-weight: bold;
            padding: 0px 3px;
            border: 1px solid;
            top: -6px;
            left: -6px;
            font-family: Verdana;
            font-size: 12px;
        }
    </style>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <br>
            <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary">Home</button></a>
            <a href="{% url 'order_list' %}"><button type="button" class="btn btn-primary">Orders</button></a>
            <br><br>
            <div class="content-panel" style="padding: 5px">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div>
                            <h2 class="text-center">Order</h2>
                            <h5 class="text-center">Behisht Arabian Cuisine</h5>
                            <h6 class="text-center">Main Airport Road Near Buitems Univeristy Quetta</h6>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <hr>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <div><strong>Dining In:</strong> <span style="float: right" >{{ order.created_at }}</span></div><br>
                                <span class="list-error" style="color: red; display: none">please add Table</span>
                                <input type="text" class="form-control table_no" name="table_no" placeholder="Table No." list="table-list" value="{{ order.table.table_no }}">
                                <datalist id="table-list">
                                    {% for table in tables %}
                                        <option value="{{ table.table_no }}">{{ table.table_type }}</option>
                                    {% endfor %}
                                </datalist><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="item-row">
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in order.items.all %}
                                    <tr class="item-row">
                                        <td id="item-name" class="item-name">
                                            <div class="delete-btn">
                                                <input type="text" class="form-control invoice-item" id="invoice-item" name="all-items" list="all-items" placeholder="Select Item" value="{{ item.menu.name }}">
                                                <datalist id="all-items">
                                                    {% for menu in menus %}
                                                        <option data-value="{{ menu.id }}" data-price="{{ menu.price }}" value="{{ menu.name }}">{{ menu.name }}</option>
                                                    {% endfor %}
                                                </datalist>
                                                <a class="delete" href="javascript:;" title="Remove row">X</a>
                                            </div>
                                        </td>
                                        <td><input class="form-control price" placeholder="Price" type="text" value="{{ item.price }}"></td>
                                        <td><input class="form-control qty" placeholder="Quantity" value="{{ item.quantity }}" type="text"></td>
                                        <td><span class="total">{{ item.total_quantity }}</span></td>
                                        <td style="display: none"><input type="hidden" value="{{ item.id }}" class="item-id" id="item-id"></td>
                                    </tr>
                                {% endfor %}
                                <tr id="hiderow">
                                    <td colspan="4">
                                        <a id="addRow" href="javascript:;" title="Add Item" class="btn btn-primary">Add Item</a> <span class="item-error" style="color: red; display: none">please add Item</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><strong>Sub Total</strong></td>
                                    <td><span id="subtotal">{{ order.sub_total }}</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Total Quantity: </strong><span id="totalQty" style="color: red; font-weight: bold">{{ order.total_qty }}</span> Units</td>
                                    <td></td>
                                    <td class="text-right"><strong>Service Charges (<span id="service_charges" contenteditable="true">{{ order.charges_percent|floatformat:'-2' }}</span><span>%</span>)</strong></td>
                                    <td><span id="charges_amount">{{ order.service_charges }}</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><strong>Grand Total</strong></td>
                                    <td><span id="grandTotal" style="color:red">{{ order.total_due }}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a id="create-invoice" href="javascript:;"  class="btn btn-primary pull-right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">Update Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.invoice.update.js' %}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery().invoice({
                addRow : "#addRow",
                delete : ".delete",
                parentClass : ".item-row",

                price : ".price",
                qty : ".qty",
                total : ".total",
                totalQty: "#totalQty",

                subtotal : "#subtotal",
                discount: "#discount",
                shipping : "#shipping",
                grandTotal : "#grandTotal",

                remainingAmount: '#remainingAmount',
                paidAmount: '#paidAmount'
            });

        });
        $(function () {

            $('.invoice-item').live('focusout', function(){
                var item_price = $(this).parent().parent().find("option[value='" + $(this).val() + "']").data('price');
                $(this).parent().parent().parent().find('.price').val(item_price);
            });
            $('#create-invoice').live('click', function () {

                if ($('.table_no').val()==""){
                    $('.list-error').show();
                }
                else {
                    $('.list-error').css('border' ,'none');
                }


                if ($('#item-name').hasClass('item-name') == false ) {
                    $('.item-error').show();
                    return;
                }
                var error = false;
                if       ($('.invoice-item').val() == ""){
                    $(".item-error").show();
                    error=true;
                    $('.invoice-item').css('border-color', 'red');
                }
                else {
                    $('.invoice-item').css('border' ,'none');

                }
                if ($('.price').val()=="") {

                    $('.item-error').show();
                    $('.price').css('border-color', 'red');
                    error=true;
                }
                else {
                    $('.item-error').hide();
                    $('.price').css('border', 'none');
                }
                if (error == true){
                    return;
                }
                var items = [];
                var total_quantity = 0;
                for (var i=1; i<$('.item-row').length; i+=1) {
                    var products = {};
                    products['item_id'] = $('.item-row').eq(i).find('#item-id').val();
                    products['item_name'] = $('.item-row').eq(i).find('#invoice-item').val();
                    products['price'] = $('.item-row').eq(i).find('.price').val();
                    products['qty'] = $('.item-row').eq(i).find('.qty').val();
                    products['perdiscount'] = $('.item-row').eq(i).find('.perdiscount').val();
                    products['total'] = $('.item-row').eq(i).find('.total').text();
                    if ($('.item-row').eq(i).find('#invoice-item').val() != "") {
                        items.push(products);
                        total_quantity += Number(products['qty']);
                    }
                }
                var sub_total = $('#subtotal').text();
                var grand_total = $('#grandTotal').text();
                var totalQty = total_quantity;
                var service_charges = $('#charges_amount').text();
                var table_no = $('.table_no').val();

                $.post("/order/" + "{{ order.id }}" + "/update/api/", {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        table_no: table_no,
                        sub_total: sub_total,
                        grand_total: grand_total,
                        totalQty: totalQty,
                        service_charges: service_charges,
                        charges_percent: $('#service_charges').text(),
                        items: JSON.stringify(items)
                    }, function (result, status) {
                        window.location.href = '/order/' + {{ order.id }} +'/view/';
                    }
                )
            });

            $('.new-customer').on('click', function () {
                $('.existing-customer').hide();
                $('.new-customer-form').show();
                $('.customer').val('');
            });

            $('.added-customer').on('click', function () {
                $('.existing-customer').show();
                $('.new-customer-form').hide();
                $('.customer_name').val('');
                $('.customer_phone').val('');
            });

        });
        $('.btn-primary').on('click', function () {
            $('.item-error').hide();
        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        $('#create-invoice').on('click', function() {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function() {
                $this.button('reset');
            }, 5000);
        });
        $('.table_no').click (function {

            $('.list-error').hide();


        });
    </script>

{% endblock %}
