{% extends 'base.html' %}

{% block content %}
    <style>
    .errorlist {
        padding: 0;
        list-style-type: none;
        color: red;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-primary">Home</button></a>
                <a href="{% url 'table_list' %}"><button type="button" class="btn btn-primary">Table List</button></a>
                <br><br><br>
                <div class="content-panel">
                    <h3 class="text-center">Table <small>No. {{ object.table_no }}</small></h3>
                    <div class="panel-body">
                        <form class="form-horizontal add-customer-form" action="{% url 'table_update' pk=object.id %}" method="post" >
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {% csrf_token %}
                                    <input type="number" class="form-control table_no" name="table_no" placeholder="Table No." value="{{ object.table_no }}">
                                    {% if form.errors.table_no %}<span>{{ form.errors.table_no }}</span>{% endif %}
                                    <br>
                                    <input type="text" class="form-control table_name" name="table_name" placeholder="Table Name (Optional)" value="{{ object.table_name }}"><br>
                                    <input type="text" class="form-control table_type" name="table_type" placeholder="Table Type (Optional)" value="{{ object.table_type }}">
                                    <br>
                                    <button type="submit" class="btn btn-primary product-sub-btn" style="float: right">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}